
<style >
   
    .anime_list dl {
        border-top: 2px dashed #e5e5e5;
    }

    .anime_list dl, .detail dl {
        clear: both;
        float: left;
        display: block;
    }

    .anime_list dl {
        padding: 12px 7px;
        margin: 12px 8px;
        -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        width: 97%;
    }

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }

    dl {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;}

    .anime_list {
    padding: 0;
    margin-bottom: 10px;
    float: left;
    }
    .detail .d_label{width:50%; float:left; color:#666; line-height:1.6rem;}
    .detail .d_label2{width:100%; float:left; color:#777; line-height:1.6rem;}
    .d_label a,.d_label2 a{color:#777; margin-right:0.8rem;}
    .d_label a:hover,.d_label2 a:hover{color:#f68;}
    .d_label b{color:#999;}

</style>

<div class="detail">

    <div class="anime_list">
        <center><h2>日本动漫</h2></center>
        <dl>
                <dt><a href="/anime/qdzjldfh/"><img src="http://www.dilidili.wang/uploads/allimg/171204/290_1456566071.jpg"/></a></dt>
                <dd>
                    <h3><a href="/anime/qdzjldfh/">七大罪 戒律的复活</a></h3>

                    <p><div class="d_label"><b>地区：</b>日本</div><div class="d_label"><b>年代：</b>2018年1月</div></p>
                    <p><div class="d_label"><b>标签：</b>奇幻|动作|冒险</div><div class="d_label"><b>播放：</b>65844</div></p>
                    <p><b>看点：</b>《七大罪：戒律的复活》改编自铃木央原作的同名漫画，是该系列动画的第2期。</p>
                    <p><b>简介：</b>那还是人与非人的世界未曾分开的时代。从亨德里克森与德雷弗斯两大圣骑士长的支配下夺回王国的“七大罪”以及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确实地在产生着——。</p>
                    <p><b style="color:#F00">状态:</b> 待更新 </p>
                </dd>
            </dl>

        <dl style="display: block;">
                <dt><a href="/anime/etotama/"><img src="http://static.jfrft.com/images/cover/12940.jpg"></a></dt>
                <dd>
                    <h3><a href="/anime/etotama/">干支魂</a></h3>
                
                    <p></p><div class="d_label"><b>地区：</b>日本</div><div class="d_label"><b>年代：</b>2015年4月</div><p></p>
                    <p></p><div class="d_label"><b>标签：</b>萝莉|后宫|百合</div><div class="d_label"><b>播放：</b>193922</div><p></p>
                    <p><b>看点：</b>十二生肖都是萌娘，乱斗模式启动！</p>
                    <p><b>简介：</b>描述拥有动物姿态、被干支神选上的使者“干支娘”们，将会透过每60年一次的干支神选拔赛“ETM 12”选出守护日本的神圣代表。在这之中，有位叫做“小喵”的猫型干支娘，因为跟老鼠的孽缘因而碰到连串悲惨际遇的她，究竟最后是否能如愿成为干支神呢?喵炭与干支神们的日常战斗生活就此展开!</p>
                    <p><b style="color:#F00">状态:</b> 完结 </p>
                </dd>
            </dl>
    </div>
</div>

<dl style="display: block;">
        <dt><a href="/anime/etotama/"><img src="http://static.jfrft.com/images/cover/12940.jpg"></a></dt>
        <dd>
            <h3><a href="/anime/etotama/">干支魂</a></h3>
        
            <p></p><div class="d_label"><b>地区：</b>日本</div><div class="d_label"><b>年代：</b>2015年4月</div><p></p>
            <p></p><div class="d_label"><b>标签：</b>萝莉|后宫|百合</div><div class="d_label"><b>播放：</b>193922</div><p></p>
            <p><b>看点：</b>十二生肖都是萌娘，乱斗模式启动！</p>
            <p><b>简介：</b>描述拥有动物姿态、被干支神选上的使者“干支娘”们，将会透过每60年一次的干支神选拔赛“ETM 12”选出守护日本的神圣代表。在这之中，有位叫做“小喵”的猫型干支娘，因为跟老鼠的孽缘因而碰到连串悲惨际遇的她，究竟最后是否能如愿成为干支神呢?喵炭与干支神们的日常战斗生活就此展开!</p>
            <p><b style="color:#F00">状态:</b> 完结 </p>
        </dd>
    </dl>