<style>
    a{ 
        text-decoration:none;
    }
    h1,h2,h3{
        margin: 0.5em 1em 0.5em 0.5em;
        /*text-align:center;*/
    }

    h3 a{
        color: black;
        font-weight:900;  
    } 
    h3 a:hover{
        color:#f68;
    }

    .song_list{
        padding: 0;
        margin-left: 5%;
        margin-right: 12%;
        margin-bottom: 10px;
        float: none;
    }


    .song_list dl {
        border-top: 2px dashed #e5e5e5;
        clear: both;
        float: left;
        display: block;

        padding: 12px 7px;
        margin: 12px 8px;
        -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        width: 97%;
    }
    .song_list img{
        float: left;
        margin: 0.5em 1em 0.5em 0.5em;
        width:250;
        height:269;
        border:2px solid gray;
    }

    .song_list p{
        margin: 0;
        padding: 0;
    }

    .d_label a{
        color:black;
        margin-right:0.8rem;
        }
    /*.d_label a:hover{color:#f68;}*/
    .d_label b{
        color:#999;
        padding: 0;
        margin-right:0.8rem;
        }

    .play_link a{
        color:#F00;
    }
    .play_link a:hover{
        color: #999;
    }
    h1,h2,h3{
        margin: 0.5em 1em 0.5em 0.5em;
        /*text-align:center;*/
    }

    h3 a{
        color: black;
        font-weight:900;  
    } 
    h3 a:hover{
        color:#f68;
    }

    .song_list{
        padding: 0;
        margin-left: 5%;
        margin-right: 12%;
        margin-bottom: 10px;
        float: none;
    }


    .song_list dl {
        border-top: 2px dashed #e5e5e5;
        clear: both;
        float: left;
        display: block;

        padding: 12px 7px;
        margin: 12px 8px;
        -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        box-shadow: 0 0 7px rgba(0, 0, 0, .37);
        width: 97%;
    }
    .song_list img{
        float: left;
        margin: 0.5em 1em 0.5em 0.5em;
        width:250;
        height:269;
        border:2px solid gray;
    }

    .song_list p{
        margin: 0;
        padding: 0;
    }

    .d_label a{
        color:black;
        margin-right:0.8rem;
        }
    /*.d_label a:hover{color:#f68;}*/
    .d_label b{
        color:#999;
        padding: 0;
        margin-right:0.8rem;
        }
    .play_link{
        margin-left: 235px;
    }

    .play_link a{
        color:#F00;
    }
    .play_link a:hover{
        color: #999;
    }
</style>
<div class="song_list">
        <center><h2>搜索结果</h2></center>
        <dl>
            <dt><a href="/anime/qdzjldfh/">
                <img src="http://p1.music.126.net/Lg4KxGm6uI54FRbyVctT6w==/4460718673904110.jpg"/></a>
            </dt>

            <dd >
                <h3><a href="/anime/qdzjldfh/">唯一</a></h3>
                <div style="width:34% ;float:left">
                    <p><div class="d_label"><b>专辑：</b>
                            <a>XXX</a>
                        </div>

                        <div class="d_label"><b>歌手：</b>
                            <a>XXX</a>
                        </div>
                    </p>
                    <p><div class="d_label"><b>地区：</b>
                            <a>日本</a>
                        </div>
                        <div class="d_label"><b>年代：</b>
                            <a>2018年1月</a>
                        </div>
                    </p>
                </div>
                <div style="float:none">
                    <p><div class="d_label"><b>标签：</b>奇幻|动作|冒险</div><div class="d_label"><b>播放：</b>65844</div></p>
                    <p><div class="d_label"><b>评论数：</b>1520000</div><div class="d_label"><b>单条评论最高获赞数：</b>65844</div></p>
                </div>
                
                <p><b>看点：</b>《七大罪：戒律的复活》改编自铃木央原作的同名漫画，是该系列动画的第2期。</p>
                <p ><b style="float:left">歌词：</b>
                    <div style=' 
                    border: solid 1px gray; 
                    max-height: 125px; 
                    overflow: scroll; 
                    scrollbar-face-color: #889B9F;
                    scrollbar-shadow-color: #3D5054;
                    scrollbar-highlight-color: #C3D6DA;
                    scrollbar-3dlight-color: #3D5054;
                    scrollbar-darkshadow-color: #85989C;
                    scrollbar-track-color: #95A6AA;
                    scrollbar-arrow-color: #FFD6DA;
                    overflow-x:hidden;
                    '>
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确    
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确 
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确 
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确 
                        及伊丽莎白、霍克。王国诞生祭也平安结束，和平终于造访了里欧涅丝王国。但，下一个威胁的预兆，确                   
                </div>            
                </p>
                <div class="play_link">
                    <p ><b>播放外链:</b><a  href="/"> 网易云</a> </p>
                </div>
                
            </dd>
        </dl>
</div>