<style>
    dl {
        position:absolute;
        width:389px;
        height:154px;
        border:10px solid #eee;
    }
    dd {
        margin:0;
        width:389px;
        height:154px;
        overflow:hidden;
    }
    img {
        border:1px solid black
    }
    dt {
        position:absolute;
        right:3px;
        top:50px;
    }
    a {
        display:block;
        margin:1px;
        width:20px;
        height:20px;
        text-align:center;
        font:700 12px/20px "宋体",sans-serif;
        color:#fff;
        text-decoration:none;
        background:#666;
        border:1px solid #fff;
        filter:alpha(opacity=40);
        opacity:.4;
    }
    a:hover {
        background:#000
}
</style>
</head>
<body>
<dl>
    <dt><a href="#a" title="">1</a><a href="#b" title="">2</a><a href="#c" title="">3</a></dt>
    <dd>
        <img src="/static/bg.jpg" alt="" title="123456" id="a" />
        <img src="/static/bg2.jpg" alt="" title="12" id="b" />
        <img src="/static/bg1.jpg" alt="" title="" id="c" />
    </dd>
</dl>
</body>
</html>